body {
    margin: 0;
    background-color: #f0f0f0;
}

#div-body {
    font-family: 'Noto sans', sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100%;
    /* width: 100%; */
    border: 0px;
}

#title-banner {;
    display: flex;
    background-color: #999;
    padding: 15px;
    align-content: flex-start;
}

#title-image {
    display: flex;
    align-self: center;
    float:left;
    padding-right: 30px;
    padding-left: 10px;
}
