#output {
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    overflow-y: scroll;
    background-color: #bbb;
}

.log {
    background-color: white;
    margin-top: 20px;
}

#output-title-div {
    overflow:hidden;
    size:100%;
    height:70px;
    padding:5px;
    padding-left: 15px;
    display: flex;
    align-items: flex-start;
}

.popup {
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    top: 25%;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    /* z-index: -1; */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.popup .button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
.popup .button:hover
{
    background-color: #ddd;
}
.popup .message
{
    text-align:center;
    margin-bottom: 8px;
}

#reset_popup {
    width: 300px;
}

#buffer_config {
    width: 1200px;
}

.popup table {
    table-layout: fixed;
}

.popup tr {
    text-align: left;
}

.popup .input_row {
    background-color: #ffffff;
}

.popup td {
    width: 140px;
}

#mgts_config {
    width: 1100px;
}

#capture_config {
    width: 300px;
}

#program_config {
    width: 500px;
}
