<!doctype html>
<html>
    <head>
        {% block head %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon.png') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|PT+Sans&display=swap" rel="stylesheet">
            <title>{% block title %}EMPbutler{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="div-body">
            <div id="title-banner">
                <div id="title-image">
                    <img src="{{ url_for('static', filename='img/SERENITY_LOGO_WHITE_HORIZONTAL.png') }}" style="height:80px">
                </div>
                <div>
                    <h1>
                        <a href="/" style="text-decoration:none;color:black">EMPbutler</a>
                    </h1>
                </div>
            </div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>
