{% extends "base.html" %}

{% block content %}
    <h2>Connected FPGAs</h2>
    <table>
        <tr>
            {% for site in fpgas %}
                <td><button type="button" onclick="window.location.href = '/{{board}}/fpga/{{site.name}}';">{{site.name}}<br>{{site.type}}</button></td>
            {% endfor %}
        </tr>
    </table>
{% endblock content %}
