{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script/fpga.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='script/moment.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/fpga.css') }}">
{% endblock head %}

{% block content %}
    <h2>Available Commands</h2>
    <table id="table_commands">
        <tr>
            <td><button type="button" id="program" title="Upload EMP package and load onto FPGA." onclick="program('{{board}}', '{{site}}');">program</button></td>
            <td><button type="button" id="reset" title="Reset TTC connection to either an internal or external source." onclick="reset('{{board}}', '{{site}}');">reset</button></td>
            <td><button type="button" id="buffers" title="Configure the buffers on the FPGA." onclick="buffers('{{board}}', '{{site}}');">buffers</button></td>
            <td><button type="button" id="mgts" title="Configure and get status of the MGTs." onclick="mgts('{{board}}', '{{site}}');">mgts</button></td>
            <td><button type="button" id="capture" title="Run algorithm and capture output data." onclick="capture('{{board}}', '{{site}}');">capture</button></td>
            <td><button type="button" id="info" title="Get firmware information." onclick="info('{{board}}', '{{site}}');">info</button></td>
        </tr>
    </table>
    <i>Hover over a button to get extra information.</i>
    <div class="log">
        <div id="output-title-div">
            <div style="float:left;padding-right:20px;display:flex;align-self:center;">
                <h3>Output log</h3>
            </div>
            <div style="float:left;display:flex;align-self:center;">
                <img src={{ url_for('static', filename='img/d3cueijvy0v11.gif') }} id="loading-icon" style="height:50px">
            </div>
        </div>
        <div id="output"></div>
        <div style="padding:15px">
            <button type="button", onclick="clearLog();">Clear</button>
        </div>
    </div>

    <div class="popup" id="program_config">
        <div class="message">
            <h2>Program FPGA</h2>
            <form id="program_form" action="/{{board}}/fpga/{{site}}/program" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td colspan="5"><b>Upload EMP package (.tgz)</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input name="file" type="file"></td>
                    </tr>
                </table>
            </form>
        </div>
        <span class="button confirm">Confirm</span>
        <span class="button cancel">Cancel</span>
    </div>
    <div class="popup" id="reset_popup">
        <div class="message">Internal or External reset?</div>
        <span class="button internal">Internal</span>
        <span class="button external">External</span>
        <span class="button cancel">Cancel</span>
    </div>
    <div class="popup" id="buffer_config">
        <div class="message">
            <h2>Configure Buffers</h2>
            <form id="buffer_form" action="/{{board}}/fpga/{{site}}/buffers" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><b>Rx/Tx*</b></td>
                    </tr>
                    <tr class="input_row">
                        <td><input type="radio" name="rxtx" value="rx">Rx</td>
                        <td><input type="radio" name="rxtx" value="tx">Tx</td>
                    </tr>
                    <tr>
                        <td><b>Mode*</b></td>
                    </tr>
                    <tr class="input_row">
                        {% for mode in buffers.modes %}
                            <td><input type="radio" name="mode" value="{{mode}}">{{mode}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><b>Channels*</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input name="channels" type="text"></td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Upload pattern file</b></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="upload_bool"></td>
                        <td colspan="5"><input name="file" type="file"></td>
                    </tr>
                </table>
            </form>
        </div>
        <span class="button confirm">Confirm</span>
        <span class="button cancel">Cancel</span>
    </div>
    <div class="popup" id="mgts_config">
        <div class="message">
            <h2>Configure MGTs</h2>
            <form id="mgts_form" action="/{{board}}/fpga/{{site}}/mgts" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><b>Mode</b></td>
                    </tr>
                    <tr class="input_row">
                        {% for mode in mgts.modes %}
                            <td><input type="radio" name="mode" value="{{mode}}">{{mode}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><b>Rx/Tx</b></td>
                    </tr>
                    <tr class="input_row" id="mgts_rxtx">
                        <td><input type="radio" name="rxtx" value="rx">Rx</td>
                        <td><input type="radio" name="rxtx" value="tx">Tx</td>
                    </tr>
                    <tr>
                        <td><b>Channels</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input name="channels" type="text"></td>
                    </tr>
                </table>
            </form>
        </div>
        <span class="button confirm">Confirm</span>
        <span class="button cancel">Cancel</span>
    </div>
    <div class="popup" id="capture_config">
        <div class="message">
            <h2>Capture Data</h2>
            <form id="capture_form" action="/{{board}}/fpga/{{site}}/capture" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><input type="checkbox" name="rx"><b>Rx</b></td>
                    </tr>
                    <tr>
                        <td><b>Channels</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input name="rx_channels" type="text" value="0-71"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="tx"><b>Tx</b></td>
                    </tr>
                    <tr>
                        <td><b>Channels</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><input name="tx_channels" type="text" value="0-71"></td>
                    </tr>
                </table>
            </form>
        </div>
        <span class="button confirm">Confirm</span>
        <span class="button cancel">Cancel</span>
    </div>
    {# <h3>Test Area</h3>
    <div id="test_log">
        Log is empty.
    </div>
    <button type="button", onclick="testAddToLog();">test</button>
    <button type="button", onclick="testStop();">stop</button> #}
{% endblock %}
