{% extends "base.html" %}

{% block content %}
    <h2>Connected Boards</h2>
    <table>
        <tr>
            {% for key, value in boards.items() %}
                <td><button type="button" onclick="window.location.href = '/{{key}}';">{{value.name}}</button></td>
            {% endfor %}
        </tr>
    </table>
{% endblock content %}
